/* Header */
header {
  text-align: center;
}
/*
header:after {
  display: inline-block;
  content: url(/assets/water-image.png);
}
*/
header li,
#header_top li {
  display: inline-block;
  list-style-type: none;
  padding: 0px 10px;
}
#header_top {
  text-align: right;
  color: #eee;
  background-color: #083d8c;
  padding: 10px;
  padding-right: 84px;
}
#header_top ul {
  margin: 0;
  font-size: 0.9em;
}
#header_bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2em 84px;
  color: #083d8c;
}
#header_logo {
  height: 1em;
}
#header_bar {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}
#header_links li, #header_top li {
  padding: 5px 0;
  padding-right: 0px;
  padding-left: 4em;
}
.btn_find {
  padding: 10px 20px;
  border: 1px solid #216ddf;
  border-radius: 5px;
  box-shadow: 0px 0px 2px #216ddf;
  color: #216ddf;
  font-weight: 700;
}
.icon {
  height: 1em;
  margin: 0px 4px;
}



/* Footer */
footer {
  color: #eee;
  text-align: center;
}
#footer_top {
  background-color: #083d8c;
}
#footer_bottom {
  background-color: #216ddf;
  padding: 6px;
}
#footer_logo {
  height: 2em;
  margin: 30px;
}
#footer_connect {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}
#footer_connect ul {
  padding-left: 25px;
}
#footer_connect li, #footer_legal li {
  display: inline-block;
  list-style-type: none;
  padding: 8px;
}
#footer_legal {
  margin: 0px;
  padding: 0px;
}
.mobile_only {
  display: none;
}
.logo {
  user-select: none;
}



/* Media queries for mobile devices (414px for iPhone 6+) */
@media screen and (max-device-width: 414px) {
  .mobile_only {
    display: initial;
  }
  .desktop_only {
    display: none;
  }

  #header_top {
    background-color: inherit;
    padding: 0;
    text-align: center;
  }
  #header_top ul {
    display: inline-block;
    justify-content: space-around;
    list-style-type: none;
  }
  #footer_legal li,
  #header_top li {
    font-size: 0.9em;
    padding: 0 4px;
  }

  #header_bottom {
    padding: 0;
    margin: 8px;
  }
  #header_logo {
    height: 20px;
    margin-right: 36px;
  }
  .btn_find {
    font-size: 0.9em;
    padding: 5px;
  }
  #settings_button {
    max-height: 48px;
    margin-right: 10px;
  }

  #footer_bottom hr {
    color: #ececec;
    margin: 8px 22px;
  }

}